<section>
    <h2>Акційні пропозиції</h2>
    <ul>
        <li>
            <p>-25%</p>
            <img src="" alt="">
            <p>Букет #29 Троянд Джулія</p>
            <p></p>
        </li>
        <li>
            <p>-25%</p>
            <img src="" alt="">
            <p>Букет #29 Троянд Джулія</p>
            <p>649 грн</p>
        </li>
        <li>
            <p>-25%</p>
            <img src="" alt="">
            <p>Букет #29 Троянд Джулія</p>
            <p>649 грн</p>
        </li>
        <li>
            <p>-25%</p>
            <img src="" alt="">
            <p>Букет #29 Троянд Джулія</p>
            <p>649 грн</p>
        </li>
        <li>
            <p>-25%</p>
            <img src="" alt="">
            <p>Букет #29 Троянд Джулія</p>
            <p>649 грн</p>
        </li>
    </ul>
</section>