<header>
  <div>
    <address>
      <a href="tel:+110001111111"> +380 (66) 123-45-67</a>
    </address>
    <a href="#">Зворотній зв'язок</a>
    <a href="../index.html">LOGO</a>
      <input type="text" id="search-input" placeholder="Пошук..." />
      <button id="search-button">🔍</button>
      <button id="theme-toggle">🌙</button>
      <a href="favorites.html">❤️</a>
      <a href="../pages/cart.html">🛒</a>
      
    <nav><ul>
      <li><a href="index.html">Головна</a></li>
      <li><a href="catalog.html">Каталог</a></li>
      <li><a href="contacts.html">Контакти</a></li>
     
    </ul></nav>

    

    <!-- <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="100" height="30">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./page-2.html">Page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./page-3.html">Page 3</a>
        </li>
      </ul>
    </nav> -->
  </div>
</header>
