.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Rubberized layout for mobile (from 320px to 374px) */
@media (max-width: 374px) {
  .container {
    padding: 0 16px;
    /* background-color: blanchedalmond; */
  }
}


/* =============== Mobile adaptiv ===============*/
@media (min-width: 375px) {
  .container {
    max-width: 375px;
    /* background-color: aquamarine; */
  }
}

/* =============== Tablet ===============*/
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    /* background-color: beige; */
  }
}

/* =============== Desktop ===============*/
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 60px;
    /* background-color: aqua; */
  }
}
